header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin-right: 20px;
  margin-top: 10px;
}

.header-left,
header ul {
  display: flex;
}

.logo {
  width: 30px;
  margin: 10px;
}

li {
  margin: 5px;
}
